<header>
	<nav class="navbar navbar_default"> 
		<div class="container-fluid"> 
			<div class="name-div"> 
					<h1>{{myName}}</h1>
					<p>{{myInfo}}</p>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</div>
	</nav>
</header>