<header>
	<nav class="navbar navbar_default"> 
		<div class="container-fluid"> 
			<div class="name-div"> 
					<h1>{{myName}}</h1>
					<p>{{myInfo}}</p>
			</div>
			<div class="navbar-header"> 
				<a class="navbar-brand navbar-left" href="/">{{pageTitle}}</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
			<div class="pull-right headshot-spacing">
				<img src="../images/head-shot.jpg" class="ratio img-responsive img-circle headshot" alt="Chandler Molbert">
			</div>
		</div>
	</nav>
</header>