<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{websiteTitle}}</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/general.css">
	</head>
	<body>
		<div class="headline"> 
			{{> header}}
		</div>
		<div class="row"> 
			<div class="col-sm-4" > </div>
			<div class="col-sm-4" > 
				<img src="../images/head-shot.jpg" class="ratio img-responsive img-circle headshot center-block" alt="Chandler Molbert">
			</div>
			<div class="col-sm-4" > </div>
		</div>
		<div>
			<p>{{bioInfo}}</p>	
		</div>
		
		<div class="page-footer">
			{{> footer}}
		</div>
		
	</body>
</html>